body {
    font-family: Courier New, sans-serif;
    font-weight: bold;
    color: #0E0E0E;
}

a {
    text-decoration: none
}

a:link {
    color: #A7DC44;
}

a:visited {
    color: #630e45;
}
  
a:hover {
    color: #78B900;
    cursor: url("../../../assets/cursors/gam945.gif"), auto;
}

-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("../../../assets/images-main/space.gif");
    background-repeat: repeat;
    cursor: url("../../../assets/images-main/gam942.gif"), auto;
}

.topbar {
    position: fixed;
    background-image: url("../../../assets/images-main/hangingstars.gif");
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
}

.box {
    background-color: #005862;
    border: solid 4px #5AB1BB;
    border-radius: 15px 15px 15px 15px;
}

.sidebar {
    position: fixed;
    height: 40vh;
    min-height: fit-content;
    width: 15vw;
    min-width: fit-content;
    top: 10vh;
    left: 1.5vw;
    margin: auto;
}

.main {
    position: fixed;
    height: 40vh;
    min-height: fit-content;
    width: 50vw;
    min-width: fit-content;
    top: 10vh;
    left: 22vw;
    padding: 15px;
    text-align: center;
}

.bottombar {
    position: fixed;
    display: flex;
    font-weight: bold;
    text-align: center;
    bottom: 0;
    left: 0;
    height: 5.5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #005862;
    border: solid 4px #5AB1BB;
    border-radius: 0;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.center {
    display: flex;
    font-size: 0.75em;
    justify-content: center;
    text-align: center;
}

.sidebartop {
    position: relative;
    text-align: center;
    height: 60px;
    width: 100%;
    padding: 15px 0px 0px 0px;
    margin:auto;
    border-bottom: solid 3px #5AB1BB;
}

.navtextmain {
    font-size: 1.75em;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.navtext {
    font-size: 1.5em;
    text-align: center;
}

.main {
    text-align: center;
    padding: 15px;
}

img {
    position: fixed;
    z-index: 3;
}

#img1 {
    left: 1275px;
    top: 550px;
}

#img2 {
    left: 1200px;
    top: 400px;
}

#img3 {
    left: 1375px;
    top: 400px;
}

#img4 {
    left: 1275px;
    top: 230px;
}

#img5 {
    left: 1200px;
    top: 80px;
}

#img6 {
    left: 1375px;
    top: 80px;
}