@font-face {
    font-family: "ALTTP Reg Font";
    src: url("./assets/fonts/alttp/ReturnofGanon.ttf") format('truetype');
}

body {
    font-family: "ALTTP Reg Font", sans-serif;
}

/*********** root div ***********/

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("./assets/clouds1.jpg");
    background-size: cover;
}

/*********** level 1 divs ***********/

#top {
    position: relative;
    display: flex;
    top: 0;
    height: 18vh;
    width: 100vw;
    justify-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    background-image: url("assets/whiteBricks");
    background-repeat: repeat;
    border-bottom: 10px ridge #90ceda;
    z-index: 2;
}

#left {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    box-sizing: border-box;
}

#right {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 20vw;
    box-sizing: border-box;
}

#middle {
    position: absolute;
    top: 19vh;
    left: 20vw;
    height: 100vh;
    width: 60vw;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}

#bottom {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    bottom: 0;
    left: 0;
    height: 6vh;
    width: 100vw;
    z-index: 2;
    background-color: #87ceeb;
    box-sizing: border-box;
    border-top: 5px inset #1d223e;
}

/*********** level 2 divs ***********/

#contentBox1 {
    position: relative;
    display: flex;
    font-size: 1.35em;
    height: 55vh;
    min-height: fit-content;
    width: 50vw;
    min-width: fit-content;
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 35px 50px 35px;
    justify-content: center;
    align-content: center;
    background-color: #87ceeb;
    box-sizing: border-box;
    border: 5px inset #1d223e;
    border-radius: 12px;
}

/*********** level 3 divs ***********/

#banner {
    position: relative;
    display: flex;
    height: 100%;
    width: fit-content;
    background-color: purple;
    border-left: 9px ridge #90ceda;
    border-right: 9px ridge #90ceda;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
}

/***********              ***********/

#the {
    height: 100%;
    margin: auto;
    object-fit: cover;
}

#bannerImg {
    height: 100%;
    object-fit: cover;
    margin: auto;
}

#navbarTitle {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    top: 7vh;
    align-items: center;
    height: 10vh;
    min-height: fit-content;
    width: 85%;
    min-width: fit-content;
    margin: 0 auto 0 auto;
    background-color: #87ceeb;
    border: 7px inset #353b5f;
    border-radius: 12px;
}

#navbarBody {
    position: relative;
    display: flex;
    top: 7vh;
    font-size: 2.25em;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 35vh;
    min-height: fit-content;
    width: 85%;
    min-width: fit-content;
    margin: 2vh auto 0 auto;
    padding: 30px 0 30px 0;
    background-color: #87ceeb;
    border: 7px inset #353b5f;
    border-radius: 12px;
}

#theImgBox {
    position: relative;
    height: 100%;
    border: 3px solid black;
    border-radius: 6px;
}