body {
    font-family: Courier New, sans-serif;
    font-weight: bold;
    color: #DCDCDD;
    background-image: url("./assets/bg1.png");
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

a:link {
    color: #1985A1;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#main, #home, #sitemap, #music, #projects, #games, #coolskeletons { 
    display: flex;
    font-size: 1.75em;
    border-radius: 75px;
    background: linear-gradient(#FFFFFF 5%, #9C1616);
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 1.5px #20003D;
}

#main, #music, #projects, #games, #coolskeletons {
    border: 5px solid #20003D;
}

#home, #sitemap, #music, #projects, #games, #coolskeletons {
    position: absolute;
}

#home, #sitemap {
    top: 59vh;
    height: 50px;
    width: 145px;
    border: 3px solid #20003D;
    z-index: 2;
}

#music, #projects, #games, #coolskeletons {
    height: 120px;
    width: 200px;
}

#main {
    font-size: 2em;
    position: relative;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 375px;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#home {
    left: 38vw;
}

#sitemap {
    left: 52.5vw;
}

#music {
    top: 3vh;
    left: 8vw;
}

#projects {
    top: 3vh;
    left: 76vw;
}

#games {
    bottom: 10vh;
    left: 8vw;

}

#coolskeletons {
    bottom: 10vh;
    left: 76vw;
    text-align: center;
}

#bottombar {
    position: fixed;
    display: flex;
    border: 3px solid #20003D;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    background-color: #FF7E9E;
    height: 5vh;
    width: 100vw;
    border-right: none;
    border-left: none;
}