@font-face {
    font-family: "RetroGaming";
    src: url("./assets/fonts/retro_gaming/Retro Gaming.ttf") format('truetype');
}

body {
    font-family: RetroGaming;
    overflow-y: scroll;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hide;
    background-image: url("./assets/reflection.jpg");

}

#top {
    position: relative;
    display: flex;
    height: 24vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.left {
    float: left;
    border-right: solid 10px #086d66;
}

.right {
    float: right;
    border-left: solid 10px #086d66;
}

.leftAndRight {
    position: relative;
    display: flex;
    top: 2vh;
    height: 65vh;
    width: 45vw;
    align-items: center;
    justify-content: center;
    border-top: solid 10px #086d66;;
    border-bottom: solid 10px #086d66;
    border-radius: 8px;
    margin-bottom: 10vh;
}

#bottom {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    height: 5vh;
    min-height: fit-content;
    width: 100%;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 7px solid #000908;
    background-color: #8FECF8;
}

#topbox {
    position: relative;
    font-weight: bold;
    height: 140px;
    min-height: fit-content;
    width: 30%;
    min-width: fit-content;
    border: 8px inset #086d66;
    background-color: #8FECF8;
    box-sizing: border-box;
}

#topboxS1 {
    position: relative;
    display: flex;
    font-size: 1.8em;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 65%;
    width: 100%;
    background-color: #8FECF8;
}

#topboxS2 {
    position: relative;
    display: flex;
    float: left;
    font-size: 1.25em;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 26.5%;
    width: 47.5%;
    background-color: #DC9BEF;
    border: 5px inset #FB1470;
}

#topboxS3 {
    position: relative;
    display: flex;
    float: right;
    font-size: 1.25em;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 26.5%;
    width: 47.5%;
    background-color: #DC9BEF;
    border: 5px inset #FB1470;
}

#gameMainBox {
    position: relative;
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: 12px groove 
    box-sizing: border-box;
}

#alttpImg1 {
    height: 100%;
    object-fit: contain;
}

#gameBox2 {
    background-color: #ffffff;
}

#placeholderImg {
    height: 30%;
}

#titleBoxLeft {
    margin-top: 2vh;
    margin-bottom: -2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e3b6f1;
    top: 0;
    font-size: 1.2em;
    font-weight: bold;
    left: 9vw;
    height: 13vh;
    min-height: fit-content;
    width: 25vw;
    background-color: #7dca86;
    box-sizing: border-box;
    border: 6px ridge #153c42;
    border-radius: 6px;
    padding: 2px;
}