* {
  font-family: Courier New, sans-serif;
}

a:link {
  color: #A7DC44;
}

a:visited {
  color: #668FAE;
}

a:hover {
  color: #78B900;
  cursor: url("./assets/gam945.gif"), auto;
}

body {
  background-image: url("./assets/bg1.png");
  background-repeat: repeat;
  cursor: url("./assets/gam942.gif"), auto;
}

html, body, .container {
  height: 100%;
  margin: 0;
}

h1, .header {
  text-align: center;
  padding: 2vw;
}

h1, h2 {
  color: #EFF1F3;
}

.pmain {
  padding: 15px;
  color: #0E0E0E;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.header {
  font-size: 1.5em;
  margin: 30px 25px 0 25px;
  background-image: url("./assets/space.gif");
  border: solid 4px #2C211F;
  border-radius: 25px;
  overflow: hidden;
}

#imgtop {
  width: 80px;
  height: 80px;
}

#imgresize1 {
  width: 30%;
  height: auto;
} 

#imgresize2 {
  width: 15%;
  height: auto;
  padding: 0 0 4vh 0;
}

.container {
  display: grid;
  margin: 2% 0 0 0;
  grid-template-columns: 0.095fr 3.2fr 0.095fr;
  grid-template-rows: 0.6fr 2.2fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas: "emptyleft emptytopmid emptyright"
    "emptyleft boxmain emptyright" "emptyleft emptylowmid emptyright";
}

.boxmain {
  grid-area: boxmain;
  background-color: #005862;
  border-radius: 5%;
  border: solid 4px #2C211F;
  margin: 0 0 2vh 0;
}

.subbox1 {
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.emptytopmid {
  grid-area: emptytopmid;
}

.emptylowmid {
  grid-area: emptylowmid;
}

.emptyleft {
  grid-area: emptyleft;
}

.emptyright {
  grid-area: emptyright;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}