* {
    box-sizing: border-box;
    color: #dbcde7;
}

#container {
    position: fixed;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.7fr 1.6fr 0.7fr; 
    grid-template-rows: 0.1fr 0.5fr 0.25fr 3.4fr 0.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". mainContentTitleField ."
      ". . ."
      ". mainContentField ."
      ". . ."; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/purplewaves.jpg");
    background-size: cover;
}

#borderImgTop {
    position: absolute;
    top: 0.5vh;
    left: 0;
    height: 3vh;
    width: 100%;
    background-image: url("./assets/glossyhearts.gif");
    background-repeat: repeat;
}

.contentBox {
    background-color: #19052a;
    border: 6px ridge #b275e4;
    border-radius: 8px;
}

#mainContentField {
    grid-area: mainContentField;
    overflow-y: scroll;
    padding: 14px;
    z-index: 2;
}

#mainContentTitleField {
    grid-area: mainContentTitleField;
    display: flex;
    color: #dbcde7;
    font-size: 1.2em;
    width: 55%;
    margin: 0 auto 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.button {
    position: absolute;
    color: #5f09ab;
    height: 7.5vh;
    width: 5vw;
    margin-top: 10vh;
    z-index: 3;
    border: 4px inset #670cb6;
    border-radius: 20px;
}

#homeButton {
    float: left;
    left: 33.5vw;
}

#sitemapButton {
    float: right;
    right: 33.5vw;
}

#bottomBar {
    position: fixed; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    border-top: 6px ridge #b275e4;
    background-color: #19052a;
}

img {
    position: absolute;
}

#img1 {
    left: 7vw;
    top: 18vh;
    height: 5vh;
}

#img2 {
    right: 1.25vw;
    top: 18vh;
    height: 20vh;
    border: 4px solid #b275e4;
}

#img3 {
    left: 5.25vw;
    top: 25vh;
    height: 15vh;
}

#img4 {
    right: 1.25vw;
    top: 40vh;
    height: 28vh;
    border: 4px solid #b275e4;
}

#img5 {
    left: 1.5vw;
    top: 42vh;
    height: 24vh;
}

#img6 {
    left: 16.25vw;
    top: 42vh;
}

#img7 {
    left: 16.25vw;
    top: 50.5vh;
}

#img9 {
    left: 1.5vw;
    top: 67vh;
    border: 3px solid #b275e4;
}

#img10 {
    right: 1vw;
    top: 72vh;
    height: 15vh;
}

#img11 {
    left: 1vw;
    bottom: 7.5vh;
    z-index: 2;
}

#img12 {
    right: 1vw;
    bottom: 7.5vh;
    z-index: 2;
}

#img13 {
    left: 17vw;
    top: 30vh;
    height: 12vh;
}

#img14 {
    right: 17.375vw;
    top: 20vh;
}