@font-face {
    font-family: "ALTTP Reg Font";
    src: url("./assets/fonts/alttp/ReturnofGanon.ttf") format('truetype');
}

@font-face {
    font-family: "Classic Console";
    src: url("assets/fonts/classic_console_neue/clacon2.ttf") format('truetype');
}

@font-face {
    font-family: "Airstrike";
    src: url("assets/fonts/airstrike/airstrikechrome.ttf") format('truetype');
}

* {
    box-sizing: border-box;
    color: #dbcde7;
}

#container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("assets/purplewaves.jpg");
    background-size: cover;
    overflow-y: scroll;
}

#borderImgTop {
    position: absolute;
    top: 0.5vh;
    left: 0;
    height: 3.5vh;
    width: 100%;
    background-image: url("./assets/glossyhearts.gif");
    background-repeat: repeat;
    z-index: 2;
}

.contentBox {
    background-color: #19052a;
    border: 6px ridge #b275e4;
    border-radius: 8px;
}

#mainContentField {
    position: absolute;
    flex: 1 0 auto; 
    top: 29vh;
    left: 50%;
    width: 95%;
    font-family: 'Classic Console', 'Courier New', Courier, monospace;
    font-size: 1.25em;
    margin: 0 0 8vh -47.5%;
    height: auto;
    padding: 20px;
    z-index: 2;
}

#mainContentTitleField {
    position: absolute;
    display: flex;
    color: #dbcde7;
    font-family: "Airstrike", 'Courier New', Courier, monospace;
    top: 6vh;
    left: 50%;
    font-size: 2.2em;
    height: 17vh;
    width: 95%;
    margin: 0 auto 0 -47.5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #19052a;
    border: 6px ridge #b275e4;
    border-radius: 15px;
}

.button {
    position: absolute;
    display: flex;
    font-family: 'ALTTP Reg Font', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
    color: #5f09ab;
    top: 20vh;
    height: 7.5vh;
    width: 25vw;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
    border: 4px inset #670cb6;
    background-color: #d9aece;
    border-radius: 25px;
}

#homeButton {
    position: absolute;
    left: 2vw;
}

#sitemapButton {
    position: absolute;
    right: 2vw;
}

#bottomBar {
    position: fixed; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 6vh;
    width: 100%;
    border-top: 6px ridge #b275e4;
    background-color: #19052a;
    z-index: 2;
}

#cpm {
    position: relative;
    height: 65vh;
    width: 100%;
}