@font-face {
    font-family: "Crang";
    src: url("./assets/fonts/crang/Crang.ttf") format("truetype");
}

@font-face {
    font-family: "alttp";
    src: url("./assets/fonts/alttp/ReturnofGanon.ttf") format("truetype");
}

@font-face {
    font-family: "Seinfeld";
    src: url("./assets/fonts/seinfeld-font/GiambattistaduemilleOblique-eMzg.ttf") format("truetype");
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url("./assets/backgrounds/space.jpeg");
    background-repeat: repeat;
}

.topmid {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#top {
    height: 5vh;
}

#mid {
    display: block;
    height: 89vh;
}

#bottom {
    position: fixed;
    display: flex;
    font-family: Courier New, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 6vh;
    width: 100%;
    border-top: 5px solid #313A87;
    box-sizing: border-box;
    background-color: #0ED9F0;
    padding: 0 15px 0 15px;
    z-index: 2;
}

#left {
    position: relative;
    top: 10vh;
    left: 1vw;
    height: 65vh;
    width: 15vw;
    box-sizing: border-box;
    border: 10px solid #313A87;
    border-style: ridge;
    border-radius: 8px;
}

.leftbox {
    position: relative;
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    background-color: #0ED9F0;
}

#leftbox1 {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

#leftbox2 {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.left1 {
    position: relative;
    display: flex;
    font-family: Crang, sans-serif;
    text-shadow: 2px 2px #ffffff;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 98%;
    min-height: 20px;
    box-sizing: border-box;
    box-shadow: 3px 5px rgba(14, 12, 50, 0.984), 9px 12px rgba(6, 89, 17, 0.912);
    padding: 15px;
    margin: auto;
    border: 5px solid #313A87;
    border-style: ridge;
    border-radius: 8px;
    background-color: #F481C6;
    color: #040927;
}

#main::-webkit-scrollbar {
    display: none;
}

#main {
    position: absolute;
    top: 0;
    left: 16vw;
    height: 100%;
    width: 82vw;
    box-sizing: border-box;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row {
    position: relative;
    display: flex;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#row1 {
    bottom: 0;
    height: fit-content;
    justify-content: center;
}

#row2 {
    top: 0;
    height: fit-content;
    justify-content: center;
}

#row3 {
    margin: 0 0 20px 0;
}

#row4 {
    justify-content: center;
    height: fit-content;
    margin-bottom: 1vh;
}

.title {
    position: relative;
    font-family: Seinfeld, sans-serif;
    font-size: 1.25em;
    text-shadow: 2px 2px white;
    color: #040927;
    display: flex;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 12px 25px 12px 25px;
    margin: 0 0 15px 0;
    background-color: #F481C6;
    box-sizing: border-box;
    box-shadow: 7px 7px rgba(106, 45, 92, 0.7);
    border: 10px double #313A87;
    border-style: ridge;
    border-radius: 8px;
}

.title2 {
    position: relative;
    display: flex;
    font-family: Seinfeld, sans-serif;
    font-size: 1.25em;
    text-shadow: 2px 2px white;
    font-weight: bold;
    color: #040927;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 12px 25px 12px 25px;
    margin: 0 0 15px 0;
    background-color: #F481C6;
    box-sizing: border-box;
    border: 5px inset #313A87;
    border-style: ridge;
    border-radius: 8px;
}

.title3 {
    position: relative;
    display: flex;
    font-family: Seinfeld, sans-serif;
    font-size: 1.25em;
    text-shadow: 2px 2px white;
    font-weight: bold;
    color: #040927;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 12px 25px 12px 40px;
    margin: 0 0 15px 0;
    background-color: #F481C6;
    box-sizing: border-box;
    border: 5px inset #313A87;
    border-style: ridge;
    border-radius: 8px;
}

.content {
    display: relative;
    height: fit-content;
    font-family: alttp, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-indent: 2em;
    width: 85%;
    padding: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #0ED9F0;
    margin: 0 0 100px 0;
    border: 8px solid #313A87;
    border-style: ridge;
    border-radius: 8px;
    color: #040927;
}

.picframe {
    display: flex;
    height: 40vh;
    width: 100%;
    margin-left: 40px;
    box-sizing: border-box;
}

.pic {
    height: 100%;
    width: calc(100% / 5);
    box-sizing: border-box;
    border: 5px inset #313A87;
}

.pic2 {
    height: 100%;
    width: calc(100% * (3 / 5));
    box-sizing: border-box;
    border: 5px groove #313A87;
}

.pic3 {
    height: 100%;
    width: calc(100% * (2 / 5));
    box-sizing: border-box;
    border: 5px groove #313A87;
}

.pic4 {
    height: 100%;
    width: calc(100% * (35 / 100));
    box-sizing: border-box;
    border: 5px groove #313A87;
}

.pic5 {
    height: 100%;
    width: calc(100% * (3 / 10));
    box-sizing: border-box;
    border: 5px groove #313A87;
}

#img1 {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

#img2 {
    height: 8vh;
    width: 100%;
    position: relative;
}

#img3 {
    height: 16vh;
    width: 100;
    position: relative;
}

#img4 {
    height: 18vh;
    width: 100;
    position: relative;
}

#krogerbox {
    position: fixed;
    background-image: url("./assets/krogerTrans.png");
    background-size: contain;
    background-repeat: repeat-x;
    left: 1.5vw;
    bottom: 8vh;
    height: 80px;
    width: 15.2vw;
}