#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

.topmid {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#top {
    height: 10vh;
}

#mid {
    display: block;
    height: 84vh;
}

#bottom {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 6vh;
    width: 100%;
    border-top: 1px solid black;
    box-sizing: border-box;
    background-color: #0ED9F0;
    padding: 0 15px 0 15px;
    z-index: 2;
}

#left {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 15vw;
    box-sizing: border-box;
}

.leftbox {
    position: relative;
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    background-color: skyblue;

}

#leftbox1 {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.left1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 90%;
    min-height: fit-content;
    min-width: fit-content;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid black;
    background-color: #0ED9F0;
}

#main::-webkit-scrollbar {
    display: none;
}

#main {
    position: absolute;
    top: 0;
    left: 15vw;
    height: 100%;
    width: 80vw;
    box-sizing: border-box;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row {
    position: relative;
    display: flex;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#row1 {
    bottom: 0;
    height: fit-content;
    justify-content: center;
}

#row2 {
    top: 0;
    height: fit-content;
    justify-content: center;
    padding-bottom: 30px;
}

#row3 {
    margin: 0 0 20px 0;
}

.title {
    position: relative;
    display: flex;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 12px 25px 12px 25px;
    margin: 0 0 35px 40px;
    background-color: #0ED9F0;
    box-sizing: border-box;
    border: 1px solid black;
}

.content {
    display: relative;
    height: fit-content;
    text-indent: 2em;
    width: 85%;
    padding: 18px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #0ED9F0;
    margin: 0 0 100px 0;
}

.picframe {
    display: flex;
    height: 35vh;
    width: 100%;
    border: 1px solid black;
    margin-left: 40px;
    box-sizing: border-box;
}

.pic {
    height: 100%;
    width: calc(100% / 5);
    box-sizing: border-box;
    border: 1px solid black;
}

#img1 {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}