* {
    box-sizing: border-box;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#titleBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    justify-content: center;
    border: 1px solid black;
}

#title {
    position: relative;
    display: flex;
    height: 100%;
    min-height: fit-content;
    width: 25%;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    border: 1px solid black;
}

#left {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10vh;
    left: 0;
    height: 85vh;
    width: 18vw;
    justify-content: center;
    align-items: flex-start;
    align-items: space-around;
    border: 1px solid black;
}

.leftBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    min-height: fit-content;
    width: 50%;
    min-width: fit-content;
    padding: 10px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#homeBox {
    margin-bottom: 6vh;
}

#sitemapBox {
    margin-top: 6vh;
    margin-bottom: 6vh;
}

#coolstuffBox {
    margin-top: 6vh;
}

#main {
    position: absolute;
    top: 10vh;
    left: 18vw;
    height: 85vh;
    width: 65vw;
    overflow-y: scroll;
    border: 1px solid black;
}

#disclaimerBox {
    font-weight: bold;
    margin: 2vh auto 0 auto;
}

#firstProjectTitleBar {
    margin-top: 3vh;
}

.otherProjectTitleBars {
    margin-top: 7vh;
}

.projectTitleBar {
    position: relative;
    top: 0;
    left: 0;
    height: 7vh;
    min-height: fit-content;
    width: 100%;
    min-width: fit-content;
    margin-top: 7vh;
}

.projectTitleBox {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    height: 7vh;
    min-height: 100%;
    width: 20vw;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 2vw;
    border: 1px solid black;
}

.projectContentBox {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    min-height: fit-content;
    width: 60%;
    min-width: fit-content;
    padding: 20px 20px 5px 20px;
    margin-left: 2vw;
    margin-right: 4vw;
    border: 1px solid black;
}

#right {
    position: fixed;
    top: 10vh;
    right: 0;
    height: 85vh;
    width: 17vw;
    border: 1px solid black;
}

#bottomBar {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    height: 5vh;
    min-height: fit-content;
    width: 100%;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}