* {
    box-sizing: border-box;
}

body {
    background-color: #c5d8c8;
    color: #333333;
    font-family: Arial, sans-serif;
}

@media (max-width: 600px) {

    #container {
        padding: 15px;
        overflow-x: auto;
        overflow-y: scroll;
    }

    #palette-row {
        flex-wrap: wrap;
    }

    .palette-box {
        height: 20%;
        margin: 10px 5px;
    }

    button {
        font-size: 12px;
        height: fit-content;
        width: 80%;
    }

    button:first-child {
        font-size: 14px;
        height: fit-content;
        width: 40%;
    }

    #theBox {
        width: 90%;
        margin-bottom: -2vh;
    }

    #button-box {
        flex-direction: column;
        align-items: center;
    }

    .button-box-slice {
        width: 100%;
        margin-bottom: 10px;

    }

    #button-row-title {
        order: -1;
    }

    .color-text-output-box {
        font-size: 0.5em;
    }
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    overflow-x: hidden;
}

label {
    font-size: 0.8em;
    padding: 2px;
}

#theBox {
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    margin-top: 2vh;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #707070;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
}

h3 {
    color: #333333;
}

label {
    color: #555555;
}

#generate-button, #custom-color-button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 0 2px;
    cursor: pointer;
    border: 1px solid #1F1F21;
    border-radius: 5px;
}

#generate-button {
    background-color: #4CAF50;
    color: #FCFCFC;
}

#custom-color-button {
    background-color: #F8B8F5;
    color: #0E0E0E;
}


#custom-color-button:hover {
    background-color: #D87ED5;
}


#generate-button:hover, .button-box-slice > button:hover {
    background-color: #3c803f;
}

#palette-row {
    position: relative;
    display: flex;
    top: 12px;
    height: fit-content;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#button-row-title {
    display: flex;
    top: 1.5vh;
    height: fit-content;
    width: fit-content;
    margin: 2vh auto 1vh auto;
    padding: 0 13px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 2px solid #707070;
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.8);
}

#button-row {
    position: relative;
    display: flex;
    top: 0;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

#button-box {
    display: flex;
    height: fit-content;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.button-box-slice {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.button-box-slice > button {
    width: 90%;
    background-color: #4CAF50;
    color: #FCFCFC;
    padding: 5px 0;
    border: 1px solid #1F1F21;
    border-radius: 5px;
}

.color-stripe {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.color-stripe.dragging {
    opacity: 0.5;
}

.palette-box {
    background-color: #F9F9F9;
    position: relative;
    display: flex;
    height: 25vh;
    width: 13vw;
    flex-direction: column;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin: 10px;
    border: 2px solid #707070;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.75);
}

.palette-half {
    height: fit-content;
    width: fit-content;
}

.palette-box-half {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.palette-box-top-half {
    height: 25%;
    border-bottom: 1px solid black;
}

.palette-box-bottom-half {
    height: 75%;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-top: 1px solid black;
}

.palette-form-row {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
}

.palette-form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
}

.palette-form-column:last-child {
    margin-right: 0;
}

.color-text-output-box {
    display: flex;
    height: 70%;
    width: 90%;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    text-align: center;
    align-content: center;
    font-size: 0.75em;
}

.color-box {
    height: 95%;
    width: 95%;
    border: 1px solid black;
    border-radius: 3px;
}

.checkbox-label {
    font-size: 0.75em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip.show .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup-div {
    flex-direction: column;
}

.popup-div-row:first-child {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
}

.popup-div-row:nth-child(2) {
    display: flex;
    padding-bottom: 3px;
    justify-content: space-around;
}

.popup .popuptext {
    position: absolute;
    visibility: hidden;
    width: 160px;
    background-color: #EFEFEF;
    color: #101010;
    text-align: center;
    padding: 8px 0;
    border-radius: 6px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #505050 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}