@font-face {
    font-family: "cmd";
    src: url("../../assets/fonts/classic_console_neue/clacon2.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    font-family: cmd, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/backgrounds/vw9.jpg");
    background-size: cover;
    overflow-y: scroll;
}

#topButtonBarField {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    display: flex;
    z-index: 2;
}

.linkBox {
    height: 100%;
    flex: 1;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fef7fe;
    border-bottom: solid 3px #47125e;
    border-radius: 0 0 10px 10px;
    text-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    box-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    font-family: 'Seinfeld', 'Courier New', sans-serif;
    z-index: 2;
}

.linkBox1-3 {
    border-right: solid 3px #47125e;
}

#copyrightField {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 2vh;
}

#copyrightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fef7fe;
    width: fit-content;
    padding: 10px;
    height: 7vh;
    background-color: #47125e;
    border-radius: 30px;
    border: 8px inset #e620d9;
    margin-bottom: 1vh;
    text-shadow: 1px 3px 2px rgba(79, 25, 102, 0.4);
    box-shadow: 1px 6px 2px rgba(79, 25, 102, 0.7);
}

.field {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

#mainTitleBox {
    display: flex;
    color: #2c053c;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: auto;
    background-color: #fef7fe;
    padding: 2px 10px 2px 10px;
    border: 5px solid #47125e;
    border-radius: 5px;
}

#mainContentBox {
    display: flex;
    flex-direction: column;
    color: #2c053c;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 90%;
    margin: 1vh 0 4vh 0;
    text-align: left;
    background-color: #fef7fe;
    padding: 2px 10px 2px 10px;
    border: 5px solid #47125e;
    border-radius: 5px;
}

.glitchField {
    position: relative;
    height: 4vh;
    width: 100%;
    margin-bottom: 3vh;
    background-image: url("../../assets/images-main/glitch.gif");
    background-repeat: repeat;
}

.didYouKnowField {
    position: relative;
    justify-content: center;
    height: auto;
    left: 5%;
    width: 90%;
}

.didYouKnowBox {
    position: relative;
    display: flex;
    margin-left: 0;
    width: fit-content;
    height: auto;
    align-items: center;
    text-align: center;
    background-color: #fef7fe;
    border: 5px solid #47125e;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
}

.factBox {
    position: relative;
    margin-left: 0;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: fit-content;
    height: auto;
    text-align: left;
    align-items: center;
    background-color: #fef7fe;
    border: 5px solid #47125e;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
}

