* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Seinfeld";
    src: url("../../assets/fonts/seinfeld-font/GiambattistaduemilleOblique-eMzg.ttf") format("truetype");
}

@font-face {
    font-family: "cmd";
    src: url("../../assets/fonts/classic_console_neue/clacon2.ttf") format("truetype");
}

a {
    color: rgb(232, 209, 224);
    text-decoration: none;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images-main/vw.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
}

#topButtonBarField {
    position: fixed;
    top: 0;
    font-size: 1.2em;
    left: 0;
    display: flex;
    height: 7vh;
    width: 100%;
    z-index: 2;
}

.linkBox {
    height: 100%;
    flex: 1;
    display: flex;
    font-size: 1.25em;
    color: #fefefe;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #a51970;
    border-bottom: solid 3px #78AEFA;
    border-radius: 0 0 10px 10px;
    text-shadow: 3px 4px rgba(70, 23, 35, 0.5);
    box-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    font-family: 'Seinfeld', 'Courier New', sans-serif;
    padding: 2px;
    z-index: 2;
}

.linkBox1-3 {
    border-right: solid 2px #78AEFA;
}

#copyrightBoxField {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

#copyrightBox {
    display: flex;
    font-family: "Seinfeld", 'Courier New', monospace;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #160108;
    width: fit-content;
    margin-top: -1vh;
    padding: 0 5px 0 5px;
    height: 7vh;
    background-color: #9fbeea;
    border-radius: 20px;
    border: 6px inset #b55a8d;
}

#titleBox {
    position: relative;
    display: flex;
    font-weight: bold;
    font-family: 'Seinfeld', 'Courier New', monospace;
    background-color: skyblue;
    justify-content: center;
    height: fit-content;
    width: 55%;
    color: #160108;
    font-size: 1.5em;
    margin: auto auto 3vh auto;
    padding: 10px;
    border: 5px solid #1b1c36;
    border-radius: 20px;
    text-shadow: 1px 1px #F014D1;
    box-shadow: 2px 2px #930579;
}

.entryField {
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 2vh;
}

.timestampBox {
    position: relative;
    display: flex;
    background-color: skyblue;
    height: fit-content;
    width: fit-content;
    margin-left: 0.75vw;
    margin-bottom: 1h;
    padding: 10px;
    font-family: 'Seinfeld', 'Courier New', monospace;
    border: 5px solid #1B1C36;
    border-radius: 15px;
    box-shadow: 3px 3px #930579;
    text-shadow: 1px 0 #F014D1;
}

.contentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: skyblue;
    height: fit-content;
    width: fit-content;
    margin: 1vh 1vw 4vw 0.75vw;
    padding: 2px 15px 2px 15px;
    font-family: 'Seinfeld', 'Courier New', monospace;
    border: 5px solid #1B1C36;
    border-radius: 15px;
    box-shadow: 3px 3px #930579;
    text-shadow: 1px 1px #F014D150;
    text-align: left;
}

.contentBox a {
    color: #F014D1;
}