* {
    box-sizing: border-box;
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images-main/space.gif");
    background-repeat: repeat;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: #74DE6A;
}

a:visited {
    color: #6A9ADD;
}

#copyrightBoxField {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

#copyrightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d9aab8;
    width: fit-content;
    padding: 10px;
    height: 7vh;
    background-color: #380a18;
    border-radius: 30px;
    border: 8px inset #982649;
    margin-bottom: 1vh;
}

#topButtonBarField {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    display: flex;
    z-index: 2;
}

.linkBox {
    height: 100%;
    flex: 1;
    display: flex;
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #a51970;
    border-bottom: solid 2px #78AEFA;
    border-radius: 0 0 10px 10px;
    text-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    box-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    font-family: 'Seinfeld', 'Courier New', sans-serif;
    z-index: 2;
}

.linkBox1-3 {
    border-right: solid 2px #78AEFA;
}

.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #a51970;
    border: solid 4px #78AEFA;
    border-radius: 15px;
}

.boxField {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    height: fit-content;
    width: 100%;
}

#titleBox {
    width: fit-content;
    padding: 10px 15px 10px 15px;
    color: #DDB66A;
}

#mainContentBox {
    width: 90%;
    height: fit-content;
    top: 2vh;
    flex-direction: column;
    margin-bottom: 3vh;
    color: #DDB66A;
}

.mainContentRow {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContentRowResize {
    margin-top: -3vh;
}

.mainContentRowBorder {
    border-bottom: solid 3px #3d8c95;
    margin-bottom: 3vh;
}

#lastContentRow {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgField {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
}

#bottomBanner {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/images-main/glossyhearts.gif");
    background-repeat: repeat;
    height: 3
    vh;
    width: 100%;
}

#zorbeez {
    height: 175px;
    width: 150px;
}

#billyMays {
    height: 128px;
    width: 128px;
}
