* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace, sans-serif;
    font-weight: bold;
    color: #DCDCDD;
}

a {
    color: #551a8b;
    text-decoration: none;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/backgrounds/gameBoys.png");
    background-repeat: repeat;
}

#topButtonBarField {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    display: flex;
    z-index: 2;
}

.linkBox {
    height: 100%;
    flex: 1;
    display: flex;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fef7fe;
    border-bottom: 5px solid #114910;
    border-radius: 0 0 10px 10px;
    text-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    box-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    z-index: 2;
}

.linkBox1-3 {
    border-right: 5px solid #114910;
}

#copyrightField {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 2vh;
    text-shadow: 1px 1px #000000;
}

#copyrightBox {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.15em;
    align-items: center;
    text-align: center;
    color: #42d425;
    width: fit-content;
    padding: 10px;
    height: 7vh;
    background-color: #e97a8b;
    border-radius: 75px;
    border: 4px inset #1c841a;
    margin-bottom: 5vh;
    text-shadow: 1px 3px 2px rgba(79, 25, 102, 0.4);
    box-shadow: 1px 6px 2px rgba(79, 25, 102, 0.7);
}

.bubble {
    position: relative;
    display: flex;
    font-size: 1.25em;
    font-weight: bold;
    height: 10vh;
    width: 69%; /* nice */
    justify-content: center;
    align-items: center;
    margin: 4vh auto 4vh auto;
    background: linear-gradient(#FFFFFF 5%, #9C1616);
    border-radius: 75px;
    border: 4px solid #20003D;
}
