* {
    box-sizing: border-box;
}

a {
    color: #ffffff;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#topButtonBarField {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    display: flex;
    z-index: 2;
}

.linkBox {
    height: 100%;
    flex: 1;
    display: flex;
    font-size: 1.35em;
    justify-content: center;
    border-bottom: solid 2px #000000;
    background-color: #d40d0d;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.linkBox1-3 {
    border-right: solid 2px #000000;
}

#copyrightField {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 2vh;
}

#copyrightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 10px;
    height: 7vh;
    margin: 2vh 0 1vh 0;
}

.box {
    border: 2px solid black;
}

#titleBoxField {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contentField {
    margin-left: 3vw;
    margin-bottom: 5vh;
}

.contentBoxTitleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 2vh;
    padding: 0 5px 0 5px;
    margin-left: 1vh;
    margin-bottom: 0;
}

.contentBoxEntryBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    height: fit-content;
    width: 95%;
    margin-top: 0;
    margin-left: 1vh;
    margin-bottom: 2vh;
    padding: 12px;
}