* {
    box-sizing: border-box;
    cursor: url("../../assets/cursors/gam942.gif"), auto;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #2e198c;
}

@font-face {
    font-family: "Seinfeld";
    src: url("../../assets/fonts/seinfeld-font/GiambattistaduemilleOblique-eMzg.ttf") format('truetype');
}

@font-face {
    font-family: "cmd";
    src: url("../../assets/fonts/classic_console_neue/clacon2.ttf") format("truetype");
}

#desktopRedirectOverlay {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    height: 95vh;
    width: 95vw;
    background-color: #2e198c;
    z-index: 5;
    color: #c6c1db;
    padding: 75px;
    border: 5px outset #eadbdf;
    border-radius: 30px;
    font-size: 6em;
    font-family: cmd, 'Courier New', monospace;
}

#buttonField {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
    padding-top: 6vh;
}

button {
    height: 20vh;
    width: 40vw;
    border-radius: 45px;
    font-size: 0.6em;
    color: #0a042d;
    text-shadow: 3px 3px 2px #513fad;
    font-family: cmd, 'Courier New', monospace;
    background-color: #6e9e29;
    border: 12px inset #110744;
    box-shadow: 2px 6px #b5c89d;

}

#redirectText {
    text-align: center;
    width: 100%;
    height: fit-content;
}

.hidden {
    display: none !important;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 8vh;
    padding-bottom: 6vh;
    background-image: url("../../assets/images-main/cutesharks2.jpg");
    background-repeat: repeat;
    font-family: 'Courier New', monospace; 
    font-weight: bold;
    overflow-y: scroll;
}

#copyRightBoxField {
    position: relative;
    height: 12vh;
    width: 100%;

}

.contentBox {
    position: relative;
    border: solid 3px #982649;
    border-radius: 10px;
    background-color: #FF7E9E;
    padding: 12px;
    box-shadow: 4px 4px 3px #361920;;
    text-shadow: 2px 2px rgba(224, 208, 212, 0.5);
    color: #982649;
    font-size: 0.85em;
}

.tamanotchiAndGuestBookBoxes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 6px #982649;
    border-radius: 20px;
    padding: 12px;
    margin: 10px;
    background-color: #FAC16A;
    box-shadow: 4px 4px 3px #361920;;
    color: #982649;
    font-size: 0.8em;
    font-family: 'cmd', 'Courier New', monospace;
    height: 15vh;
}

#topButtonBarField {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    display: flex;
    z-index: 2;
}

.linkBox {
    height: 100%;
    flex: 1;
    display: flex;
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ba468d;
    border-bottom: solid 2px #cbcadc;
    border-radius: 0 0 10px 10px;
    text-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    box-shadow: 1px 1px rgba(70, 23, 35, 0.5);
    font-family: 'Seinfeld', 'Courier New', sans-serif;
    z-index: 2;
}

.linkBox1-3 {
    border-right: solid 2px #eadde0;
}

.welcomeBoxAndCopyrightBoxFields {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
}

#copyrightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d9aab8;
    width: fit-content;
    padding: 10px;
    height: 7vh;
    background-color: #380a18;
    border-radius: 30px;
    border: 8px inset #982649;
    margin-bottom: 1vh;
}

#welcomeBox {
    height: fit-content;
    width: 90vw;
    padding-bottom: 1vh;
    background-color: #FAC16A !important;
    font-family: 'cmd', 'Courier New', monospace;
    border: solid 6px #982649 !important;
    border-radius: 20px !important;
    font-size: 1em;
}

.divider {
    position: relative;
    width: 93vw;
    height: 0.75vh;
    margin: 3vh auto 3vh auto;
    border: 0.75vh inset #982649;
    background-color: #982649;
    box-shadow: 1px 4px 3px #eadde0;
    border-radius: 3px;
}

.mainContentField {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.entryBox {
    height: fit-content;
    width: 90vw;
}