* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images-main/img29.png");
    overflow-y: scroll;
    font-family: 'Courier New', monospace;
}

#boxMain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 80%;
    width: 87.5%;
    margin: 5vh auto;
    background-color: #005862;
    border-radius: 25px;
    border: solid 4px #5AB1BB;
    z-index: 2;
}

#img1 {
    max-width: 80%;
    height: auto;
    border: solid 4px #5AB1BB;
}