* {
    box-sizing: border-box;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

body {
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    color: #0E0E0E;
    background-image: url("../../assets/images-main/space.gif");
    background-repeat: repeat;
}

a {
    text-decoration: none;
    color: #74DE6A;
}

a:visited {
    color: #6A9ADD;
}

#copyrightBoxField {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin-top: 4vh;
    margin-bottom: -3vh;
}

#copyrightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d9aab8;
    width: fit-content;
    padding: 10px;
    height: 7vh;
    background-color: #380a18;
    border-radius: 30px;
    border: 8px inset #982649;
    margin-bottom: 1vh;
}

#mainContentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #a51970;
    border: solid 4px #78AEFA;
    border-radius: 15px;
    margin: auto;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 75vw;
    padding: 5px 7px 5px 7px;
    text-align: center;
}

#titleText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: solid 3px #78AEFA;
    height: auto;
    width: 100%;
    justify-content: center;
}

.directoryTitleField {
    border-bottom: solid 3px #78AEFA;
    border-width: 75%;
}

.directoryField {
    border-bottom: solid 3px #78AEFA;
}

.directoryField:last-of-type {
    border: none;
}
