* {
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    color: #333333;
    font-family: Arial, sans-serif;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

label {
    font-size: 0.8em;
    padding: 2px;
}

#theBox {
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    margin-top: 3vh;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #707070;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
}

h3 {
    color: #333333;
}

label {
    color: #555555;
}

button {
    background-color: #4CAF50;
    color: #EDEDFA;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #1f1f21;
    border-radius: 5px;
}

button:hover {
    background-color: #3c803f;
}

#palette-row {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 3vh;
    height: fit-content;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.color-stripe {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.palette-box {
    background-color: #F9F9F9;
    position: relative;
    display: flex;
    height: 25vh;
    width: 12vw;
    flex-direction: column;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border: 2px solid #707070;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.75);
}

.palette-half {
    height: fit-content;
    width: fit-content;
}

.palette-box-half {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.palette-box-top-half {
    height: 25%;
    border-bottom: 1px solid black;
}

.palette-box-bottom-half {
    height: 75%;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-top: 1px solid black;
}

.palette-form-row {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}

.palette-form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
}

.palette-form-column:last-child {
    margin-right: 0;
}

.color-text-output-box {
    height: 70%;
    width: 90%;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    text-align: center;
    font-size: 0.85em;
}

.color-box {
    height: 95%;
    width: 95%;
    border: 1px solid black;
    border-radius: 3px;
}

.checkbox-label {
    font-size: 0.75em;
}