#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

body {
    cursor: url("../../assets/cursors/gam942.gif"), auto;
    font-family: Courier New, sans-serif;
    font-weight: bold;
    position: fixed;
    color: #982649;
    background-image: url("../../assets/images-main/cutesharks2.jpg");
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

a:link {
    color: #F6F740;
}

a:visited {
    color: #FAC16A;
}
  
a:hover {
    color: #112775;
    cursor: url("./assets/gam945.gif"), auto;
}

.bbox {
    background-color: #FF7E9E;
    border: solid 6px #982649;
    border-radius: 15px;
}

.bottombar {
    position: fixed;
    display: flex;
    color: #e0ddeb;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #4b8bc7;
    border-top: solid 4px #982649;
    z-index: 2;
}

.botright-box {
    position: absolute;
    bottom: 5vh;
    right: 0.25vw;
    height: auto;
    width: auto;
}

.botright-box img {
    position: relative !important;
    float: right;
}

.boxmain::-webkit-scrollbar {
    display: none; 
}

.boxmain {
    position: absolute;
    top: 7.5vh;
    left: 23.5vw;
    height: 90vh;
    min-height: fit-content;
    width: 50vw;
    min-width: fix-content;
    margin: 15px 15px 0 15px;
    padding: 10px 25px 0 25px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.boxtop {
    position: relative;
    background-image: url("../../assets/images-main/hangingstars.gif");
    background-repeat: repeat-x;
    top: -1.5vh;
    left: 0;
    height: 7.25vh;
    width: 100vw;
    z-index: 2;
}

.boxleft {
    position: absolute;
    top: 8vh;
    left: 2vw;
    height: 20vh;
    min-height: fit-content;
    width: 10vw;
    padding: 12px;
}

.center {
        display: flex;
        font-size: 0.75em;
        justify-content: center;
        text-align: center;
}

.counterbox {
    position: absolute;
    top: 15vh;
    left: 79vw;
    height: 12.5vh;
    min-height: fit-content;
    width: 13vw;
    min-width: fit-content;
    text-align: center;
    padding: 5px;
}

.mainbox {
    position: relative;
    text-align: left;
    height: fit-content;
    width: 46vw;
    top: 0;
    left: 0;
    padding: 15px;
    margin: 15px 0 15px;
}

.navbarmain {
    position: relative;
    top: 5vh;
    left: 0;
    height: 60vh;
    min-height: fit-content;
    width: 13.5vw;
    margin: auto;
    padding: 15px;
}

.navbartop {
    position: relative;
    display: flex;
    top: 3vh;
    left: 0;
    align-content: center;
    justify-content: center;
    height: 7vh;
    width: 13.5vw;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    border: solid 6px #982649;
    border-radius: 15px;
    background-color: #ff7e9e;
    color: #ede8e9;
}

.navtext {
    font-size: 1.5em;
}

.navtitle {
    font-size: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav1 {
    position: relative;
    top: 0;
    left: 0;
    height: 75%;
    width: 100%;
    text-align: center;
    padding: 0 0 1vw 0;
    margin: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    border-bottom: 3px double #540e23;
}

.nav2 {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    height: 25%;
    text-align: center;
    margin: auto;
    padding: 0 15px 15px 15px;
}

.skullbox {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 18.75vw;;
    height: 100%;
    width: 10vw;
    background-image: url("../../assets/images-main/skull.gif");
    background-repeat: repeat-y;
    overflow: hidden;
    margin: 0 auto 0 auto;
}

#empty {
    position: relative;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
}

#guestbookBox {
    text-decoration: none;
    margin-top: -2vh;
    height: fit-content;
}

#virus {
    position: absolute;
    top: 45vh;
    right: 0;
}

#motorcycle {
    position: absolute;
    bottom: 5.5vh;
    right: 15vw;
    z-index: 2;
    height: 31vh;
}

#seinfeldgif2 {
    position: absolute;
    bottom: 26vh;
    right: 15vw;
}

#strongbadgif {
    position: absolute;
    top: 5vh;
    right: 15vw;
    height: 75px;
    z-index: 3;
}

#tamanotchiBox {
    position: relative;
    margin-top: 1vh;
}