body {
    font-family: Courier New, sans-serif;
    font-weight: bold;
    color: #0E0E0E;
}
  
a:link {
    color: #A7DC44;
}

a:visited {
    color: #668FAE;
}
  
a:hover {
    color: #78B900;
    cursor: url("../../assets/cursors/gam945.gif"), auto;
}

-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("../../assets/images-main/space.gif");
    background-repeat: repeat;
    cursor: url("../../assets/cursors/gam942.gif"), auto;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.mainbox {
    position: fixed;
    background-color: #005862;
    border: solid 4px #5AB1BB;
    border-radius: 15px;
    margin: 30px auto 30px auto;
    height: 600px;
    width: 900px;
    text-align: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    overflow: scroll;
}

.mainbox::-webkit-scrollbar {
    display: none; 
}

.maintext {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.titletext {
    border-bottom: solid 3px #5AB1BB;
    height: 30px;
    width: 100%;
    padding-bottom: 25px;
    text-align: center;
}

.bottombar {
    position: fixed;
    display: flex;
    font-weight: bold;
    text-align: center;
    bottom: 0;
    left: 0;
    height: 34px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #005862;
    border: solid 4px #5AB1BB;
    border-radius: 0;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.center {
    display: flex;
    font-size: 0.75em;
    justify-content:center;
    text-align: center;
}

#divimg1 {
    position: relative;
    top: 100px;
    left: 20px;
    height: 150px;
    width: 220px;
}

#img1 {
    width: 220px;
}

#divimg2 {
    position: relative;
    top: 200px;
    left: 20px;
    height: 150px;
    width: 220px;
}

#img2 {
    width: 220px;
}

#divimg3 {
    position: fixed;
}